body {
  background-color: rgb(221, 217, 208);
}
.session {
  float : right;
}
nav {
  font-size : 0.9em;
}
nav#up {
  margin : auto;
  width : 98%;
  margin-top : 0.5em;
}
.container {
  margin : auto;
  margin-top : 2em;
  width : 95%;
  clear : both;
  border-radius : 10px;
  border : 1px solid gray;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding : 1em;
  background-color: rgb(255, 255, 255);
}
footer {
  margin : auto;
  width : 95%;
  margin-top : 2em;
}
body > header > h1 {
  font-size : 1.2em;
  line-height : normal;
  text-align : center;
  margin-right : 2em;
}
body > header > h1 > a:hover {
  text-decoration : none;
  color : black;
}
body > header > h1 > a {
  text-decoration : none;
  color : black;
}
header > h1 > img {
  height : 100px;
  float : left;
  margin-left : 2em;
}
.login {
  margin : 0 auto;
  width : 25%;
}
article {
  clear : both;
}
article > header > h1 {
  font-size : 1em;
  line-height : normal;
  text-align : left;
}
.prescript {
  font-size : 0.95em;
  line-height : normal;
  font-style : italic;
}
article > p {
  font-size : 1em;
  line-height : normal;
  text-align : justify;
}
.postscript {
  float : right;
}
section > header > h1 {
  font-size : 1.5em;
}
#old_news > article > p {
  display : none;
}
#last_news #old_news {
  border : 1px gray;
}
.title {
  font-size : 1.4em;
  color : rgb(175, 35, 35);
}